/*== A Propos ==*/
.a-propos {
    /* height: 700px; */
    /* padding-inline: 15%; */
    background-image: url("../assets/ouie-big.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.a-propos h2 {
    text-align: center;
}

.a-propos div {
    padding: 50px 0;
}

.a-propos-blocs {
    display: flex;
    justify-content: space-between;
}

.a-propos-blocs div {
    width: 48%;
}